body {
    font-family: arial;
    background-color: rgb(233, 219, 206);
  }
  h1 {
      font-size: 40px;
      font-family: times;
      font-style: initial;
      color: rgb(106, 143, 143);
      line-height: 0,1cm;
      border: 2px lightsalmon;
  }
  h2 {
    font-size: 20px;
    font-family: times;
    font-style: initial;
    color: rgb(106, 143, 143);
  }
  ul {
    font-family: monospace;
  }
  li {
    font-size: 25px;
    list-style: symbols(-);
  }
  
  .list {
    font-size: 20px;
    font-family: tahoma;
    list-style: circle;
    color: rgb(36, 33, 33);
    font-display: auto;
    line-height: 2cm;
  }
  
  #date {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
  }

  a {
    color: rgb(106, 143, 143);
    font-size: 0.6cm;
    border: 2px darkblue;
  }

  button {
    font-size:0.5cm;
    color: rgb(87, 54, 39);
  }

  table, th, td {
    border: 0px solid black; 
  }

  